<div>
  <button
    class="like"
    value="like"
    (click)="getMatch(true)"
  > Like
  </button>
  <button
    class="nope"
    value="nope"
    (click)="getMatch(false)">
    Nope
  </button>
</div>

