<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#"
     routerLink=""
     routerLinkActive="active">
    <img img src="https://cdn.1min30.com/wp-content/uploads/2018/05/logo-Tinder-.jpg"
         height="30" width="50"
         class="d-inline-block align-top" alt=""
         >
    ZINDER
  </a>
  <a class="navbar-brand" href="#"
     routerLink="/stats"
     routerLinkActive="active">
    Statistiques</a>

</nav>

<router-outlet></router-outlet>
