.images {
  height: 300px;
  width: 220px;
  display:block;
  width:auto;
  margin-left:auto;
  margin-right:auto;
}

.nom, .prenom {
  font-family: Arial;
  font-size: 16px;
  text-align: center;
}


