<div *ngIf="profil">
  <div class="nom">{{profil.nom}}</div>
  <div class="prenom">{{profil.prenom}}</div>
  <img class="images" src="{{profil.photoUrl}}">
  <div class="interets">{{profil.ListeInterets}}</div>
</div>
<app-match>

</app-match>

